body,h1,h2,h3,p{

   margin:0;   
}

 header{
    display: flex;
    height: 90px;
    background-color: #AC294B;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    color: white;
    align-items: center;
    height: 100px;
    margin-right: 10px;
    font-size: 4em;
    font-weight: bold; 

}

nav a{
    font-weight: 600;
    padding-right: 10px;
    text-decoration: none;
    color: white;
    font-family: "Pacifico", cursive;
    font-weight: 700;
    font-style: normal;

}

nav a:hover{
    color; pink;
}

p{
   font-family:"Robot Slab";
   margin: 0;
   text-align: justify;
   justify-content: normal;
}


h1{
   color: #AC294B; 
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
  h2{
  color: #AC294B;
  font-family: "Robot Slab"
  font-weight: 500;
  font-style: normal;
}

img{
   max-width: 90%;
   height: auto;
}
   
.contenedor {
  display: flex; 
  align-items: center; 
  gap: 15px;
}

/* footer */
 
footer{
   background: #AC294B;
   padding: 60px 0 30px 0;
   overflow: hidden;
}
 
.contenedor-footer{
   display: flex;
   width: 90%;
   justify-content: space-evenly;
   margin: auto;
   padding-bottom: 50px;
   border-bottom: 1px solid #ccc;
}
 
.content-foo{
   text-align: center;
}
 
.content-foo h4{
   color: #fff;
   border-bottom: 3px solid red;
   padding-bottom: 5px;
   margin-bottom: 10px;
}
 
.content-foo p{
   color: #ccc;
}
 
.titulo-final{
   text-align: center;
   font-size: 24px;
   margin: 20px 0 0 0;
   color: #9e9797;
}
 
@media screen and (max-width:900px){
   header{
       background-position: center;
   }
 
   .contenedor-sobre-nosotros{
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
 
   .sobre-nosotros .contenido-textos{
       width: 90%;
   }
 
   .imagen-about-us{
       width: 500%;
   }
 
  

img{
  width: 500px;
  height: auto;
  padding: 10px;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc; 
}
  
 
  